screen ssh hawk "cd tempProject ; ./runhccp2Config.sh One-offs/SensorVsRandom/testRealisticBase.txt One-offs/SensorVsRandom/NodeInfoBase.txt One-offs/SensorVsRandom/p1.txt reps/10.txt Battery002.txt skipCC.txt"
screen ssh grouse "cd tempProject ; ./runhccp2Config.sh One-offs/SensorVsRandom/testRealisticBase.txt One-offs/SensorVsRandom/NodeInfoBase.txt One-offs/SensorVsRandom/p2.txt reps/10.txt Battery002.txt skipCC.txt"
screen ssh eagle "cd tempProject ; ./runhccp2Config.sh One-offs/SensorVsRandom/testRealisticBase.txt One-offs/SensorVsRandom/NodeInfoBase.txt One-offs/SensorVsRandom/p3.txt reps/10.txt Battery002.txt skipCC.txt"
screen ssh grebe "cd tempProject ; ./runhccp2Config.sh One-offs/SensorVsRandom/testRealisticBase.txt One-offs/SensorVsRandom/NodeInfoBase.txt One-offs/SensorVsRandom/p4.txt reps/10.txt Battery002.txt skipCC.txt"


screen bash
