
screen ssh agouti "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_06_01.txt multi_40/chChance-4.txt"
screen ssh beaver "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_06_02.txt multi_40/chChance-4.txt"
screen ssh capybara "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_07_01.txt multi_40/chChance-4.txt"
screen ssh chinchilla "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_07_02.txt multi_40/chChance-4.txt"
screen ssh chipmunk "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_08_01.txt multi_40/chChance-4.txt"
screen ssh degu "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_08_02.txt multi_40/chChance-4.txt"
screen ssh gerbil "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_09_01.txt multi_40/chChance-4.txt"
screen ssh gopher "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_09_02.txt multi_40/chChance-4.txt"
screen ssh hamster "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_10_01.txt multi_40/chChance-4.txt"
screen ssh guineapig "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_10_02.txt multi_40/chChance-4.txt"

screen ssh rat "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_11.txt multi_40/chChance-4.txt"
screen ssh prairiedog "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_12.txt multi_40/chChance-4.txt"
screen ssh hedgehog "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_13.txt multi_40/chChance-4.txt"
screen ssh woodchuck "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_14.txt multi_40/chChance-4.txt"
screen ssh groundhog "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_15.txt multi_40/chChance-4.txt"
screen ssh hamster "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_16.txt multi_40/chChance-4.txt"
screen ssh lemming "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_17.txt multi_40/chChance-4.txt"
screen ssh marmot "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_18.txt multi_40/chChance-4.txt"
screen ssh mouse "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_19.txt multi_40/chChance-4.txt"
screen ssh muskrat "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase-higherFreq.txt multi_40/multi_20_20.txt multi_40/chChance-4.txt"

screen bash
