screen ssh rookery "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_01.txt multi_20/chChanceAll.txt"
screen ssh oriole "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_02.txt multi_20/chChanceAll.txt"
screen ssh falcon "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_03.txt multi_20/chChanceAll.txt"
screen ssh crow "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_04.txt multi_20/chChanceAll.txt"
screen ssh sparrow "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_05.txt multi_20/chChanceAll.txt"
screen ssh sandpiper "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_06.txt multi_20/chChanceAll.txt"
screen ssh woodpecker "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_07.txt multi_20/chChanceAll.txt"
screen ssh hawk "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_08.txt multi_20/chChanceAll.txt"
screen ssh grouse "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_09.txt multi_20/chChanceAll.txt"
screen ssh eagle "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_10.txt multi_20/chChanceAll.txt"

screen ssh wren "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_11.txt multi_20/chChanceAll.txt"
screen ssh pelican "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_12.txt multi_20/chChanceAll.txt"
screen ssh kingfisher "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_13.txt multi_20/chChanceAll.txt"
screen ssh owl "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_14.txt multi_20/chChanceAll.txt"
screen ssh robin "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_15.txt multi_20/chChanceAll.txt"
screen ssh loon "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_16.txt multi_20/chChanceAll.txt"
screen ssh nuthatch "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_17.txt multi_20/chChanceAll.txt"
screen ssh killdeer "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_18.txt multi_20/chChanceAll.txt"
screen ssh osprey "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_19.txt multi_20/chChanceAll.txt"
screen ssh finch "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_20/multi_20_20.txt multi_20/chChanceAll.txt"


screen bash
