screen ssh rookery "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_01_01.txt multi_40/chChanceAll.txt"
screen ssh oriole "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_01_02.txt multi_40/chChanceAll.txt"
screen ssh falcon "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_01_03.txt multi_40/chChanceAll.txt"
screen ssh crow "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_01_04.txt multi_40/chChanceAll.txt"
screen ssh sparrow "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_01_05.txt multi_40/chChanceAll.txt"
screen ssh sandpiper "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_01_06.txt multi_40/chChanceAll.txt"
screen ssh woodpecker "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_01_07.txt multi_40/chChanceAll.txt"
screen ssh hawk "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_01_08.txt multi_40/chChanceAll.txt"
screen ssh grouse "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_02_01.txt multi_40/chChanceAll.txt"
screen ssh eagle "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_02_02.txt multi_40/chChanceAll.txt"

screen ssh wren "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_02_03.txt multi_40/chChanceAll.txt"
screen ssh pelican "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_02_04.txt multi_40/chChanceAll.txt"
screen ssh kingfisher "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_02_05.txt multi_40/chChanceAll.txt"
screen ssh owl "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_03_01.txt multi_40/chChanceAll.txt"
screen ssh robin "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_03_02.txt multi_40/chChanceAll.txt"
screen ssh loon "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_03_03.txt multi_40/chChanceAll.txt"
screen ssh nuthatch "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_04_01.txt multi_40/chChanceAll.txt"
screen ssh killdeer "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_04_02.txt multi_40/chChanceAll.txt"
screen ssh osprey "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_05_01.txt multi_40/chChanceAll.txt"
screen ssh finch "cd projects/LEACH_Test ; ./runhccp_goodness.sh goodness_even_hetero/testRealisticBase.txt goodness_even_hetero/10ch-10sub-1080freq.txt goodness_even_hetero/NodeInfoBase.txt multi_40/multi_20_05_02.txt multi_40/chChanceAll.txt"

screen bash

