screen ssh finch "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-10ch-10sub-360freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh duck "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-10ch-10sub-480freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh grouse "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-10ch-10sub-600freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh killdeer "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-10ch-10sub-720freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh heron "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-10ch-10sub-840freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh grebe "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-10ch-10sub-960freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh cormorant "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-30ch-10sub-1080freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh crow "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-30ch-10sub-120freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh sandpiper "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-30ch-10sub-240freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh woodpecker "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-30ch-10sub-360freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh wren "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-30ch-10sub-480freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh loon "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-30ch-10sub-600freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh nuthatch "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-30ch-10sub-720freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh oriole "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-30ch-10sub-840freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh osprey "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-30ch-10sub-960freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh owl "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-50ch-10sub-1080freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh pelican "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-50ch-10sub-120freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh grebe "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-50ch-10sub-240freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh falcon "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-50ch-10sub-360freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh heron "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-50ch-10sub-480freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh kingfisher "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-50ch-10sub-600freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh hawk "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-50ch-10sub-720freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh rookery "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-50ch-10sub-840freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh eagle "cd projects/LEACH_Test ; ./runhccp.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/all-50ch-10sub-960freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen bash
