screen ssh agouti "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/10ch-10sub-1080freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh beaver "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/10ch-10sub-120freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh capybara "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/10ch-10sub-240freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh chinchilla "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/10ch-10sub-360freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh chipmunk "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/10ch-10sub-480freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh degu "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/10ch-10sub-600freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh gerbil "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/10ch-10sub-720freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh gopher "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/10ch-10sub-840freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh groundhog "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/10ch-10sub-960freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh guineapig "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/30ch-10sub-1080freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh hamster "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/30ch-10sub-120freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh hedgehog "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/30ch-10sub-240freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh lemming "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/30ch-10sub-360freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh marmot "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/30ch-10sub-480freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh mouse "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/30ch-10sub-600freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh muskrat "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/30ch-10sub-720freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh nutria "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/30ch-10sub-840freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh porcupine "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/30ch-10sub-960freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh prairiedog "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/50ch-10sub-1080freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh rat "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/50ch-10sub-120freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh squirrel "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/50ch-10sub-240freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh vole "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/50ch-10sub-360freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh woodchuck "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/50ch-10sub-480freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh zokor "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/50ch-10sub-600freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh agouti "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/50ch-10sub-720freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh beaver "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/50ch-10sub-840freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen ssh capybara "cd projects/LEACH_Test ; ./runleach.sh freq_configs_hetero/testRealisticBase.txt freq_configs_hetero/50ch-10sub-960freq.txt freq_configs_hetero/NodeInfoBase.txt"
screen bash
