screen ssh pelican "cd projects/LEACH_Test ; ./runhccp.sh LongLived-sm2-3/testRealisticBase.txt LongLived-sm2-3/all-50ch-10sub-960freq.txt LongLived-sm2-3/NodeInfoBase.txt "
screen ssh grebe "cd projects/LEACH_Test ;./runhccp.sh LongLived-sm2-3/testRealisticBase.txt LongLived-sm2-3/10ch-10sub-1080freq.txt LongLived-sm2-3/NodeInfoBase.txt "

screen ssh falcon "cd projects/LEACH_Test ;./runleach.sh LongLived-sm2-3/testRealisticBase.txt LongLived-sm2-3/10ch-10sub-1080freq.txt LongLived-sm2-3/NodeInfoBase.txt "
screen bash

