screen ssh pelican "cd projects/LEACH_Test ; ./runhccp.sh LongLived-sm/testRealisticBase.txt LongLived-sm/all-50ch-10sub-960freq.txt LongLived-sm/NodeInfoBase.txt "
screen ssh grebe "cd projects/LEACH_Test ;./runhccp.sh LongLived-sm/testRealisticBase.txt LongLived-sm/10ch-10sub-1080freq.txt LongLived-sm/NodeInfoBase.txt "

screen ssh falcon "cd projects/LEACH_Test ;./runleach.sh LongLived-sm/testRealisticBase.txt LongLived-sm/10ch-10sub-1080freq.txt LongLived-sm/NodeInfoBase.txt "
screen bash

