screen ssh rookery "cd projects/LEACH_Test ; ./runhccp_multi.sh Sparse-med/testRealisticBase.txt Sparse-med/10ch-10sub-1080freq.txt Sparse-med/NodeInfoBase.txt multi_10/multi_10_01.txt"
screen ssh oriole "cd projects/LEACH_Test ; ./runhccp_multi.sh Sparse-med/testRealisticBase.txt Sparse-med/10ch-10sub-1080freq.txt Sparse-med/NodeInfoBase.txt multi_10/multi_10_02.txt"
screen ssh falcon "cd projects/LEACH_Test ; ./runhccp_multi.sh Sparse-med/testRealisticBase.txt Sparse-med/10ch-10sub-1080freq.txt Sparse-med/NodeInfoBase.txt multi_10/multi_10_03.txt"
screen ssh crow "cd projects/LEACH_Test ; ./runhccp_multi.sh Sparse-med/testRealisticBase.txt Sparse-med/10ch-10sub-1080freq.txt Sparse-med/NodeInfoBase.txt multi_10/multi_10_04.txt"
screen ssh sparrow "cd projects/LEACH_Test ; ./runhccp_multi.sh Sparse-med/testRealisticBase.txt Sparse-med/10ch-10sub-1080freq.txt Sparse-med/NodeInfoBase.txt multi_10/multi_10_05.txt"
screen ssh sandpiper "cd projects/LEACH_Test ; ./runhccp_multi.sh Sparse-med/testRealisticBase.txt Sparse-med/10ch-10sub-1080freq.txt Sparse-med/NodeInfoBase.txt multi_10/multi_10_06.txt"
screen ssh woodpecker "cd projects/LEACH_Test ; ./runhccp_multi.sh Sparse-med/testRealisticBase.txt Sparse-med/10ch-10sub-1080freq.txt Sparse-med/NodeInfoBase.txt multi_10/multi_10_07.txt"
screen ssh cormorant "cd projects/LEACH_Test ; ./runhccp_multi.sh Sparse-med/testRealisticBase.txt Sparse-med/10ch-10sub-1080freq.txt Sparse-med/NodeInfoBase.txt multi_10/multi_10_08.txt"
screen ssh grouse "cd projects/LEACH_Test ; ./runhccp_multi.sh Sparse-med/testRealisticBase.txt Sparse-med/10ch-10sub-1080freq.txt Sparse-med/NodeInfoBase.txt multi_10/multi_10_09.txt"
screen ssh eagle "cd projects/LEACH_Test ; ./runhccp_multi.sh Sparse-med/testRealisticBase.txt Sparse-med/10ch-10sub-1080freq.txt Sparse-med/NodeInfoBase.txt multi_10/multi_10_10.txt"

screen bash

